In [1]:
from config import api_key
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from citipy import citipy
import requests

In [2]:
lats = np.random.uniform(low=-90.000, high=90.000, size=2000)
lngs = np.random.uniform(low=-180.000, high=180.000, size=2000)
lat_lngs = zip(lats, lngs)
coordinates = list(lat_lngs)

In [3]:
cities = []
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)

In [4]:
len(cities)

768

In [5]:
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + api_key

In [24]:
city_data = []
for city in cities[:15]:
    try:
        city_url = url + "&q=" + city
        city_weather = requests.get(city_url)
        json = city_weather.json()
        city_data.append({
            'City' : json['name'],
            'Country' : json['sys']['country'],
            'Lat' : json['coord']['lat'],
            'Lng' : json['coord']['lon'],
            'Max Temp' : json['main']['temp_max'],
            'Humidity' : json['main']['humidity'],
            'Cloudiness' : json['clouds']['all'],
            'Wind Speed' : json['wind']['speed'],
            'Current Description' : json['weather'][0]['description']
        })

    except:
        print('City not found, skipping...')

City not found, skipping...

In [27]:
list_of_dictionaries = [{
    'City' : 'Los Angeles',
    'Country' : 'US',
    'Lat' : '10',
    'Lng' : '15',
    'Max Temp' : '80',
    'Humidity' : '15',
    'Cloudiness' : '15',
    'Wind Speed' : '5',
    'Current Description' : 'This is a city'
},
{
    'City' : 'Atlanta',
    'Country' : 'US',
    'Lat' : '10',
    'Lng' : '15',
    'Max Temp' : '80',
    'Humidity' : '15',
    'Cloudiness' : '15',
    'Wind Speed' : '5',
    'Current Description' : 'This is a city'
},
{
    'City' : 'Washington',
    'Country' : 'US',
    'Lat' : '10',
    'Lng' : '15',
    'Max Temp' : '80',
    'Humidity' : '15',
    'Cloudiness' : '15',
    'Wind Speed' : '5',
    'Current Description' : 'This is a city'
}]

In [29]:
pd.DataFrame(list_of_dictionaries)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Los Angeles,US,10,15,80,15,15,5,This is a city
1,Atlanta,US,10,15,80,15,15,5,This is a city
2,Washington,US,10,15,80,15,15,5,This is a city

In [25]:
df = pd.DataFrame(l)

In [26]:
df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Rikitea,PF,-23.1203,-134.9692,77.63,71,31,3.49,light rain
1,Nanchong,CN,30.7951,106.0847,39.87,80,100,23.55,light rain
2,Fortuna,US,40.5982,-124.1573,48.00,100,90,4.61,overcast clouds
3,Hobart,AU,-42.8794,147.3294,50.00,53,40,17.27,scattered clouds
4,Bombon,PH,13.6887,123.2077,76.95,85,100,11.56,overcast clouds

In [76]:
df.to_csv('WeatherPy_Database.csv')

## Deliverable 2